.white-logo {
  display: none;
}

.dark-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dark .white-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dark .dark-logo {
  display: none;
}
